@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

/* 
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;  
*/

*{
    box-sizing: border-box;
}

html, body{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.border{
    border: 1px solid #cccccc;
}



/* TOP DESIGN */

.navbar-top{
    display: none;
    justify-content: space-between;
    padding: 1rem 0;
}

.navbar-top .border{
    border-bottom:  1px solid#707070;
    opacity: 60%;
}

.navbar-top .container{
    display: none;
    padding: 0;
    justify-content: space-between;
}

.hours{
    display: flex;
    align-items: center;
}

.hours p{
    margin: 0;
    font-size: 1.05rem;
}

.icons-top{
    list-style: none;
    display: flex;
    margin: 0; 
}

.icons-top li i{
    margin-left: 1rem;
    color: #2BAAEC;
    font-size: 1.2rem;
}

.icons-top i:hover{
    color: #25E6C8;
}





/* MAINMENU DESIGN */

.logo{
    width: 10rem;
    margin-top: 1rem;
    margin-left: 25%;
    display: flex;
}

.menu{
    margin-top: 1rem;
    margin-right: 1rem;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.navbar-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 3rem;
    top: 0;
    right: 0;
    position: fixed;
    width: 30%;
    text-align: left;
    background: #2BAAEC;
    font-family: 'Roboto Slab', serif;  
    
}

.navbar-menu ul li a{
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    padding:.5rem 1rem;
    
}

.navbar-menu ul li a:hover{
    background-color: #2b85ec;
}

.exit-btn{
    margin-bottom: 1rem;
    margin-top: -2.3rem;
    text-align: right;
    padding: 0 1.2rem;
}

.exit-btn img{
    width: .8rem;
    cursor: pointer;
}

.hide-mobile{
    display: none;
}



/* SECTIONS DESIGN */

/* SECTION 1 */

.placeholder-1{
    width: 11rem;
    margin-left: .3rem;
    float: left;
    margin-top: 2rem;
    margin-bottom: 0;
    
}

.section-1{
    background-color: #DEDEDE;
    width: 100%;
    display: table-cell;
    padding: 1rem 0;
}

.head-1{
    font-family: 'Roboto Slab', serif; 
    font-size: 1.05rem;
    width: 45%;
    float: right;
    margin-right: .8rem;
    margin-bottom: 0;
    margin-top: 2rem;
}

.subhead-1{
    font-size: .9rem;
    width: 45%;
    float: right;
    margin-right: .8rem;
    margin-bottom: 0;
}

.clinic-btn{
    text-decoration: none;
    font-size: .65rem;
    text-align: center;
    background: #25E6C8;
    border-radius: 5px;
    padding: .4rem 2rem;
    float: right;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-right: 2.8rem;
    color: #fff;
    font-weight: 600;
}

/* SECTION 2 */

.placeholder-2{
    width: 9rem;
    margin: 0;
    height: 20rem;
    float: right;
    margin-right: .3rem;
    margin-top: 3rem;
}

.section-2{
    display: table-cell;
    padding: 1rem 0;
    
}

.head-2{
    font-size: 1.1rem;
    margin-left: .8rem;
    width: 60%;
    margin-top: 2rem;
    font-family: 'Roboto Slab', serif;  
    border: 3px solid #25E6C8;
    border-top: none;
    border-left: none;
    border-right: none;
}

.clinic{
    color: #2BAAEC;
}

.section-2 p{
    font-size: .9rem;
    margin-left: .8rem;
    width: 60%;
}


.section-2-stats{
    display: flex;
    margin-bottom: 1.4rem;
    margin-left: 1rem;
    font-family: 'Roboto Slab', serif; 
}

.section-2-stats div{
    margin-left: .5rem;
}

.section-2-stats h2{
    font-size: 1rem;
    color: #2BAAEC;
    margin-bottom: 0;
    margin-left: .9rem;
}

.section-2-stats p{
    margin-top: 0;
    font-size: .8rem;
}



/*  SECTION 3 / SERVICES  */



.service-container .container{
    display: grid;
    background: #F7F7F7;
    text-align: center;
    padding: 1.5rem 0;
    font-family: 'Roboto Slab', serif; 

    grid-template-columns: 1fr 1fr;
    
    grid-template-areas: "hh hh"
                         "b1 b2" 
                         "b3 b4"
                         "b5 b6";
                         
    
}

#header{
    grid-area: hh;
    margin-bottom: 1rem;
    border-bottom: 3px solid #25E6C8;
    width: 65%;
}

.tooth-box{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
    border-radius: 20px;
    padding: .5rem;
    box-shadow:inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#box-1{
    grid-area: b1;
}
#box-2{
    grid-area: b2;
}
#box-3{
    grid-area: b3;
}
#box-4{
    grid-area: b4;
}
#box-5{
    grid-area: b5;
}
#box-6{
    grid-area: b6;
}

.service-container h3{
    margin-top: .3rem;
    font-size: 1.1rem;
    margin-bottom: 0;
}

.service-container p {
    font-size: .9rem;
    margin-top: .3rem;
}

.tooth-box img{
    align-items: center;
    background-color: #2BAAEC;
    margin-top: 1rem;
    padding: 1rem;
    background-clip: padding-box;
    border-radius: 50px; 
}

.tooth-box img:hover{
    background-color: #25E6C8;
    cursor: pointer;
}





/* APPOINTMENT AND FOOTER */



.appointment{
    background-color:#2BAAEC ;
    opacity: 80%;
    display: flex;
    text-align: center;
    font-size: .8rem;
    height: 9rem;
    color: #fff;
    padding-top: .5rem;
    
}
.appointment h2{
    font-family: 'Roboto Slab', serif; 
}

.appointment-btn{
    text-decoration: none;
    border-radius: 10px;
    background-color: #fff;
    padding: .5rem;
    color: #2BAAEC;
    font-weight: 600;
    
}




.hours-bottom i{
    margin-top: 1.2rem;
    margin-right: 1rem;
    margin-left: .8rem;
    color: #2BAAEC;
}


.hours-bottom p{
    font-size: .92rem;
    margin-top: .6rem;
}

.hours-bottom{
    display: flex;
}

.mobile-footer{
    background-color: #fff;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.icons-bottom{
    list-style: none;
    display: flex;
    padding-top: .3rem;
    margin: 1rem .8rem 0 0; 
}

.icons-bottom li i{
    margin-left: .6rem;
    color:  #2BAAEC;
    font-size: 1.2rem;
}

.icons-bottom i:hover{
    color: #25E6C8;
}

.copyright{
    background-color: #2BAAEC;
    color: #fff;
    padding: .5rem;
    text-align: center;
}
.copyright p{
    margin: .2rem;
}











@media (min-width: 576px) {

    .container{
        width: 540px;
    }
}

@media (min-width: 768px) {

    .container{
        width: 720px;
    }

    .navbar-top .container{
        display: flex;
    }

    .navbar-top{
        display: block;
    }

    .logo{
        margin-left: 0;
    }
    .mobile-footer{
        display: none;
    }
    
    .appointment{
        padding-top: 1rem;
    }

    .hide-desktop{
        display: none;
    }

    .show-desktop{
        display: block;
    }

    .navbar-menu ul{
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 1rem;
    }
    .navbar-menu ul li a{
        padding-right: 0;
        padding-left: 0;
        margin: 0 .8rem;
        text-align: center;
    }
    .navbar-menu ul li a:hover{
        background-color: #36363627;
    }

}

@media (min-width: 992px) {

    .container{
        width: 960px;
    }

}

@media (min-width: 1200px) {

    .container{
        width: 1140px;
    }
    
}